<!-- Javascript Libraries -->
{% load static %}
<script type="text/javascript" src="{% static 'app/vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/functions.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'app/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js' %}"></script>

{% if is_need_charts %}
<script type="text/javascript" src="{% static 'app/vendors/bower_components/flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'app/vendors/bower_components/flot/jquery.flot.resize.js' %}"></script>
<script type="text/javascript" src="{% static 'app/vendors/bower_components/flot.curvedlines/curvedLines.js' %}"></script>
<script type="text/javascript" src="{% static 'app/vendors/sparklines/jquery.sparkline.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/flot-charts/curved-line-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/flot-charts/line-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/charts.js' %}"></script>
{% endif %}

<!-- Bootstrap select (select picker) -->
<script type="text/javascript" src="{% static 'app/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static 'app/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js' %}"></script>
<!-- Customm scroll bars -->
<script type="text/javascript" src="{% static 'app/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<!-- Button wave effects and material animations -->
<script type="text/javascript" src="{% static 'app/vendors/bower_components/Waves/dist/waves.min.js' %}"></script>
<!-- bootstrap growl is used for pop up something (eg:welcome user) -->
<script type="text/javascript" src="{% static 'app/vendors/bootstrap-growl/bootstrap-growl.min.js' %}"></script>
<!-- Making beautiful grid system -->
<script type="text/javascript" src="{% static 'app/vendors/bower_components/salvattore/dist/salvattore.min.js' %}"></script>
<!-- Parse, validate, manipulate, and display dates in JavaScript. -->
<script type="text/javascript" src="{% static 'app/vendors/bower_components/moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/jquery.formset.js' %}"></script>

<script type="text/javascript" src="{% static 'app/vendors/fileinput/fileinput.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
