<script type="text/javascript">
	$(document).keydown(function(e) {					
		if (e.altKey) {
			if(e.keyCode == 49){ // 1
				window.location.href = "#";
			}
			if(e.keyCode == 50){ // 2
				window.location.href = "#";
			}
			if(e.keyCode == 51){ // 3
				window.location.href = "#";
			}
			if(e.keyCode == 52){ // 4
				//window.location.href = "#";
			}
			if(e.keyCode == 53){ // 5
				//window.location.href = "#";
			}
			if(e.keyCode == 54){ // 6
				//window.location.href = "#";
			}
			if(e.keyCode == 55){ // 7
				//window.location.href = "#";
			}
			if(e.keyCode == 56){ // 8
				//window.location.href = "#";
			}
			
		}
	});
</script>