Django
django-el-pagination==3.3.0
django-mail-queue==3.2.4
django-registration-redux==2.9
django-versatileimagefield==2.2
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
Pillow==9.3.0
psycopg2-binary==2.9.3
PyJWT==2.4.0
python-decouple==3.6
python-magic==0.4.25
pytz==2021.3
sqlparse==0.4.2
django-import-export
