Django==3.1.12
django-el-pagination==3.3.0
django-mail-queue==3.2.4
django-registration-redux==2.9
django-versatileimagefield==2.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
Pillow==8.2.0
psycopg2-binary==2.8.6
PyJWT==2.0.1
