{% extends "registration/auth_base.html" %}
{% load i18n %}

{% block title %} Account activated {% endblock %}

{% block content %}
<div class="l-block toggled" id="l-login">
    <div class="lb-header palette-Purple bg">
        <i class="zmdi zmdi-check"></i>
        Account activated
    </div>

    <div class="lb-body">
    	<p class="message success">
			<p class="message center">{% trans "Your account is now activated." %} <a  href="{% url 'auth_login' %}">Login now</a></p> 
		</p>
    </div>
</div>   
{% endblock %}

{% block static %}
<script>
	$(document).ready(function(){
		$('div.login').attr('data-lbg','purple');
	});
</script>
{% endblock %}