{% extends "registration/auth_base.html" %}
{% load i18n %}

{% block title %} Password Reset {% endblock %}

{% block content %}
<div class="l-block toggled" id="l-forget-password">
    <div class="lb-header palette-Purple bg">
        <i class="zmdi zmdi-account-circle"></i>
        Forgot Password?
    </div>

    <div class="lb-body">
		<form method="post" action=".">
			{% csrf_token %}
       		<p class="m-b-30">Please enter your registered email address and proceed.</p>

	        <div class="form-group fg-float">
	            <div class="fg-line">
	                <input name="email" type="text" value="{{ form.email.value|default:""}}" class="input-sm form-control fg-input">
	                <label class="fg-label">Email Address</label>	                
	            </div>
	            {% if form.email.errors %}
				    <span class="error">{{ form.email.errors.as_text }}</span>
				 {% endif %}
	        </div>
	
	        <button type="submit" class="btn palette-Purple bg">Reset Password</button>
		</form>
		
        <div class="m-t-30">
            <a data-bg="teal" class="palette-Purple text d-block m-b-5" href="{% url 'auth_login' %}">Already have an account?</a>
        </div>
    </div>
</div>
   
{% endblock %}


{% block static %}
<script>
	$(document).ready(function(){
		$('div.login').attr('data-lbg','purple');
	});
</script>
{% endblock %}