{% extends "registration/auth_base.html" %}
{% load i18n %}

{% block title %} Password Reset {% endblock %}

{% block content %}
<div class="l-block toggled" id="l-login">
    <div class="lb-header palette-Indigo bg">
        <i class="zmdi zmdi-mail-send"></i>
        Password reset instruction sent
    </div>

    <div class="lb-body">
    	<p class="message">
		Email with password reset instructions has been sent to your inbox. If you do not receive the email in your inbox please check your "spam" or "junk" folder before writing to us.
	</p>
    </div>
</div>

            
{% endblock %}

{% block static %}
<script>
	$(document).ready(function(){
		$('div.login').attr('data-lbg','indigo');
	});
</script>
{% endblock %}