{% extends "registration/auth_base.html" %}
{% load i18n %}

{% block title %} Password Reset {% endblock %}

{% block content %}
<div class="l-block toggled" id="l-forget-password">
    <div class="lb-header palette-Purple bg">
        <i class="zmdi zmdi-account-circle"></i>
        Password Reset
    </div>

    <div class="lb-body">
    	{% if validlink %}
			{% if form.errors %}
		    	<div class="palette-Red-500 text m-b-20">	    	
					{{form.errors.as_text}}			
				</div>
				<br />
			{% endif %}
			<form method="post" action=".">
				{% csrf_token %} 
				 <div class="form-group fg-float">
	            	<div class="fg-line">
						<input type="password" class="input-sm form-control fg-input" name="new_password1" />
						<label class="fg-label">Enter New Password</label>
					</div>
				</div>
				<div class="form-group fg-float">
					<div class="fg-line">
						<input type="password" class="input-sm form-control fg-input" name="new_password2" />
						<label class="fg-label">Enter Password Again</label>
					</div>
				</div>
				<button type="submit" class="btn palette-Purple bg">Reset Password</button>								
			</form>
		{% else %}
			<p class="message">{% trans "Password reset failed" %}</p>
		{% endif %}
		
        <div class="m-t-30">
            <a data-bg="teal" class="palette-Purple text d-block m-b-5" href="{% url 'auth_login' %}">Already have an account?</a>
        </div>
    </div>
</div>
   
{% endblock %}


{% block static %}
<script>
	$(document).ready(function(){
		$('div.login').attr('data-lbg','purple');
	});
</script>
{% endblock %}

