{% extends "registration/auth_base.html" %}
{% load i18n %}

{% block title %} Change Password {% endblock %}

{% block content %}
<div class="l-block toggled" id="l-login">
    <div class="lb-header palette-Blue bg">
        <i class="zmdi zmdi-account-circle"></i>
        Change Password
    </div>

    <div class="lb-body">
    	{% if form.non_field_errors %}
	    	<div class="palette-Red-500 text m-b-20">	    	
				{{form.non_field_errors}}			
			</div>
			<br />
		{% endif %}
		
    	<form action="." method="post">
    		{% csrf_token %} 
	        
	        <div class="form-group fg-float">
	            <div class="fg-line">
	                <input name="old_password" value="{{ form.old_password.value|default:""}}" type="password" class="input-sm form-control fg-input">
	                <label class="fg-label">Old Password</label>
	            </div>
	            {% if form.old_password.errors %}
		            <span class="error">{{ form.old_password.errors.as_text }}</span>
		        {% endif %}
	        </div>
	        
	        <div class="form-group fg-float">
	            <div class="fg-line">
	                <input name="new_password1" value="{{ form.new_password1.value|default:""}}" type="password" class="input-sm form-control fg-input">
	                <label class="fg-label">New Password</label>
	            </div>
	            {% if form.new_password1.errors %}
		            <span class="error">{{ form.new_password1.errors.as_text }}</span>
		        {% endif %}
	        </div>
	        
	        <div class="form-group fg-float">
	            <div class="fg-line">
	                <input name="new_password2" value="{{ form.new_password2.value|default:""}}" type="password" class="input-sm form-control fg-input">
	                <label class="fg-label">New Password Confirmation</label>
	            </div>
	            {% if form.new_password2.errors %}
		            <span class="error">{{ form.new_password2.errors.as_text }}</span>
		        {% endif %}
	        </div>
	        
	        <input type="hidden" name="next" value="{{ next }}" />
	        
	        <button type="submit" class="btn palette-Blue bg">Submit</button>
		</form>
    </div>
</div>  
{% endblock %}

{% block static %}
<script>
	$(document).ready(function(){
		$('div.login').attr('data-lbg','blue');
	});
</script>
{% endblock %}

