<div class="shortcuts">
	<button class="btn palette-Light-Blue btn-icon bg waves-effect waves-circle waves-float">
		<i class="zmdi zmdi-plus"></i>
	</button>
	<div class="icons icons text-right">
		<a href="{% url 'customers:customers' %}" class="btn btn-info bg btn-icon-text waves-effect">Customers <i class="zmdi m-l-10 zmdi-accounts-alt"></i></a><br />
		<a href="{% url 'products:products' %}" class="btn btn-success bg btn-icon-text waves-effect">Products <i class="zmdi m-l-10 zmdi-accounts-alt"></i></a><br />
		<a href="{% url 'sales:sales' %}" class="btn btn-warning bg btn-icon-text waves-effect">Sales <i class="zmdi m-l-10 zmdi-accounts-alt"></i></a>
	</div>
</div>
