<section class="content" id="tab1">
	<div class="filter_form">
		<small class="arrow"></small>
		<form action="">
			<div class="field">
				<label for="name_input">Query</label>
				<input type="text" id="name_input" placeholder="Enter Query..."/>
			</div>
			<div class="field">
				<label for="">Period</label>
				<select name="" id="" class="single">
					<option value="">-- Select -- </option>
					<option value="">Today</option>
					<option value="">This Week</option>
					<option value="">This Month</option>
					<option value="">This Year</option>
				</select>
			</div>
			<div class="field">
				<label for="id_from_date">From Date</label>
				<input type="text" class="datepicker" id="id_from_date" placeholder="Enter Date..."/>
			</div>
			<div class="field">
				<label for="id_to_date">To Date</label>
				<input type="text" class="datepicker" id="id_to_date" placeholder="Enter Date..."/>
			</div>
			<section class="submitContainer">
				<input type="submit" value="Filter" class="button" />
			</section>
		</form>
	</div>
</section>