{% extends "base.html" %}
{% load i18n %}


{% block content %}
 			<section id="content">
                <div class="container">
                    <div class="c-header">
                        <h2>{{title}} : {{instance.username}}</h2>
                    </div> 
                     <div class="card col-sm-5">
                        <form action="{% url 'users:change_password' pk=instance.pk %}" class="ajax  reset {% if redirect %}redirect{% endif %}" method="post" >
                        	{% csrf_token %}
                            <div class="card-body card-padding">
                                   {% include 'includes/form.html' with form=change_password_form %}
                                <div class="form-group">
                                    <div class="m-t-20">
									    <button type="submit" class="btn btn-info waves-effect">Submit</button>
									</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
{% endblock %}

{% block static %}
	{% load static %}
    <script>
    $(document).ready(function(){
        $('input[type="password"]').addClass("form-control");
    })
    </script>
{% endblock %}

