{% extends "base.html" %}
{% load i18n %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>{{title}}</h2>
        </div>
        <div class="action-header palette-theme {{current_theme}} bg clearfix">
            <div class="ah-label hidden-xs palette-White text">{{instance.username}}</div>

            <div class="ah-search">
            	<form method="get" action="{% url 'users:users' %}">
                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                    <input type="submit" class="hidden" />
                </form>
            </div>

            <ul class="ah-actions actions a-alt">
                {% if  is_superuser or 'can_change_password' in user_instance.permissionlist %}
                <li>
                    <a title="Change Password" href="{% url 'users:change_password' pk=instance.pk %}"><i class="zmdi zmdi-key"></i></a>
                </li>
                {% endif %}
                {% if  is_superuser or 'can_change_user_permissions' in user_instance.permissionlist %}
                 <li>
                    <a title="Change Permissions" href="{% url 'users:change_permissions' pk=instance.pk %}"><i class="zmdi zmdi-layers"></i></a>
                </li>
                {% endif %}
                {% if  is_superuser or 'can_delete_user' in user_instance.permissionlist %}
                <li>
                    <a title="Delete User" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'users:delete_user' pk=instance.pk %}" class="action-button redirect"><i class="zmdi zmdi-delete"></i></a>
                </li>  
                {% endif %}    
            </ul>
       	 </div>
        <div id="c-grid" class="clearfix" data-columns="2">
            <div class="card">
                <div class="card-header">
                    <h2>Basic Info <small></small></h2>
                </div>

                <div class="card-body">
                    <div class="list-group lg-alt c-overflow">
                    	
                        <div class="list-group-item media">

                            <div class="media-body">
                                <div class="lgi-heading">User Name</div>
                                <small class="lgi-text">{{instance.username}}</small>
                            </div>
                        </div>
                        
                        <div class="list-group-item media">

                            <div class="media-body">
                                <div class="lgi-heading">Email</div>
                                <small class="lgi-text">{{instance.email}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">

                            <div class="media-body">
                                <div class="lgi-heading">Staff</div>
                                <small class="lgi-text">{{instance.staff.first_name}}</small>
                            </div>
                        </div>
					</div>
				</div>
            </div> 
        </div>       
   </div>
</section>
{% endblock %}

{% block right_menu %}
	
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}